<h1>Sign Up Below:</h1>

<form action='/registration/signup' method="POST">
  <label>Name:</label>
  <br/>
  <input type="text" name="name">
  <br/>
  <br/>
  <label>Email:</label>
  <br/>
  <input type="text" name="email_address">
  <br/>
  <br/>
  <label>Username:</label>
  <br/>
  <input type="text" name="username">
  <br/>
  <br/>
  <label>Password:</label>
  <br/>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>