<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <h1>Welcome To Your User Music Library!</h1>
  <h4>Please Sign up or Log in to access your User Library</h4>
  <a href="/registration/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>
